/*--------------------------------------------------------------------*/


/*GLOBAL STYLES*/


/*--------------------------------------------------------------------*/

html,
body {
  height: 100%;
}

body {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pozadi4.jpeg');
  background-position: center center;
  background-size: cover;
}


/*--------------------------------------------------------------------*/


/*MAIN PAGE*/


/*--------------------------------------------------------------------*/

.items {
  margin-top: 60px;
}

h1 {
  padding: 0;
  font-family: 'Athiti', sans-serif;
  color: #fff;
  font-size: 6.5rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 7px;
  margin-bottom: 100px;
  text-shadow: 2px 2px 6px #262626;
}

h2 {
  font-family: 'Athiti', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 4px #262626;
  /*font-family: 'Open Sans', sans-serif;*/
  margin-bottom: 18px;
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 4px #262626;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
}

.dev {
  display: inline-block;
  border: 4px solid #6E8A71;
  color: #fff;
  margin: 0;
  padding: 0;
}

.social {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.social a {
  color: #fff;
  text-decoration: none;
  margin: 0px 30px;
  font-size: 3rem;
  text-shadow: 1px 1px 4px #262626;
  transition: 0.5s ease;
}

.social a:hover {
  color: #6E8A71;
  font-size: 5rem;
  transform: scale(1.2);
}


/*--------------------------------------------------------------------*/


/*BIO PAGE*/


/*--------------------------------------------------------------------*/

.main {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-top: 60px;
  padding: 30px 20px 30px 20px;
}

#profilePic {
  height: 170px;
  width: 130px;
  border-radius: 10px;
}

.about {
  padding: 20px 0 10px 0;
}


/*--------------------------------------------------------------------*/


/*SKILLS PAGE*/


/*--------------------------------------------------------------------*/

.langIcon {
  font-size: 500%;
}

.icon-html5 {
  color: #F16528;
}

.icon-css3 {
  color: #0070BB;
}

.icon-javascript {
  color: #F7DF1E;
}

.icon-bootstrap {
  color: #60408C;
}

.icon-jquery {
  color: #78CFF5;
}

.icon-reactjs {
  color: #61DAFB;
}

.icon-git {
  color: #F84E28;
}

.icon-ubuntu {
  color: #E95420;
}

.icon-nodejs {
  color: #4A9B37;
}

.fa-windows {
  padding: 20px;
  color: #326CE5;
}

.icon-shell {
  color: #080808;
}

i+h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

i+h3+p {
  color: #000;
}


/*--------------------------------------------------------------------*/


/*CONTACT PAGE*/


/*--------------------------------------------------------------------*/

.main>h3 {
  padding-bottom: 30px;
}

.contactLinks a {
  font-size: 150%;
  color: #262626;
  text-decoration: none;
}

.contactLinks a:visited {
  color: #262626;
  text-decoration: none !important;
}

.contactLinks a:hover {
  color: #6E8A71;
  text-decoration: none;
}


/*--------------------------------------------------------------------*/


/*MEDIA QUERIES*/


/*--------------------------------------------------------------------*/

@media (max-width: 568px) {
  #indexBody,
  #contactBody {
    background-size: 310%;
  }
  body {
    background-size: auto;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .social {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .social a {
    font-size: 2rem;
  }
  .items {
    padding-top: 0;
    margin-top: 0px;
  }
  /*BIO PAGE*/
  .main {
    margin-top: 20px;
    padding-bottom: 28px;
  }
  /*CONTACT PAGE*/
  .contactIcons {
    font-size: 80%;
  }
}
